{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/css/main.css' %} " >
    <link rel="stylesheet" href="{% static 'users/css/reset.css' %}">
    <title>Document</title>
</head>
<header >
    <nav class="wrapper">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li> 
                {% if user.is_authenticated %}
                <p>User: {{ user }} </p>
                {% endif %}
            </li>
            {% if user.is_authenticated %}
            <li><a href=" {% url 'tusks'%} ">Your Tusks</a></li>
            {% endif %}
            <li>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                {% else  %}
                <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>