{% extends 'base.html' %}

{% block content %}


{% if tusk %}
    <h1>Your tusks</h1>
    {% for el in tusk %}
        
        <div>
            <h3>
                {{el.title}}
            </h3>
            <p>
            {{el.tusk_description}}
            </p>
            <p>
                deadline for: {{el.date}}
            </p>
        </div>
    {% endfor %}
{% else %}
        <p>У вас нет задач</p>
{% endif %}    
<!-- {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">logout</a>
{% else  %}
    <a href="{% url 'login' %}">login</a> | <a href="{% url 'register' %}">Register</a>
{% endif %} -->


{% endblock %}